*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
    padding: 0.3rem 0rem;
  height: 70px;
  /* background-color: #e5e5e5; */
  background-color: #fff;
}

.container .logo {
  max-width: 100%;
  padding: 0 10px;
  overflow: hidden;
}

.container .logo a img {
    
 width: 13rem;
  max-height: 70px;
}
